// Place all the styles related to the layout controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
